/* cups css deals with event-types cups

	evTypes: 	[	"evtp-EPL", "evtp-FAC",	"evtp-EFL",	"evtp-ECL",	"evtp-EUL",	"evtp-CLE",	"evtp-UIB" ],
 */

/* afcon  */
th.afc{
	border: 2px solid red !important;
}


th.evtp-UIB{
	background-color: #ff5c33 !important;
	color: #000000;
}

th.evtp-EFL{
	background-color: #ECEF82 !important;
	color: #000000;
}

th.evtp-FAC{
	background-color: #ff8080 !important;
	color: #000000;
}

th.evtp-ECL{
	background-color: #80d4ff !important;
	color: #000000;
}


.evtp-UIB{
	background-color: #ff5c33;
	color: #000000;
}

.evtp-EFL{
	background-color: #ECEF82 ;
	color: #000000;
}

.evtp-FAC{
	background-color: #ff8080 ;
	color: #000000;
}

.evtp-ECL{
	background-color: #80d4ff;
	color: #000000;
}




.cupCntndr{
	background-color: #ffff99;
	color: #000000;
}

.cupElim{
	background-color: #000000 !important;
	color: #FFFFFF !important;	
}
