@charset "UTF-8";

/* Spinner ripple */

#splashInfo > span{
	display: inline-block;
	background-color: #FFFFFF;
	color: #FF0000;
}

.loader--ripple {
	display: inline-block;
	position: relative;
	height: 85vh;
	width: 85vh;
	margin-left: 10vh ;
}

.loader--ripple div {
	position: absolute;
	animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	border: 24px solid;
	border-radius: 50%;
	opacity: 1;
}

.loader--ripple div:nth-child(2) {animation-delay: -0.5s;}

@keyframes loader--ripple {
	0% {
		top: 37vh;
		left: 37vh;
		opacity: 1;
		height: 1vh;
		width: 1vh;
		border-color: #FFFFFF;
	}

	100% {
		top: -1px;
		left: -1px;
		opacity: 0;
		height: 75vh;
		width: 75vh;
		border-color: #FF0000;
	}
}

.section--red {
	color: #FFFFFF; 
	background: #000000; 
	z-index: 999; 
	width: 98%;
	height: 99vh;
	padding: 1rem !important;
}

.section--red .loader--ripple div { border-color: #FFFFFF;}


