

#splash{
	position: absolute;
	width: 90vh;
	height: 90vh;
	background-color: #000000;
	opacity: 1;
}


div.spinner {
	display: block;
	position: absolute;
	margin: 0;
	border: 4px solid orange;
	border-radius: 50%;
	left: 5%;
	top: 5%;
	height: 80px;
	animation: spin 0.75s infinite linear;
}

div.spinner::before, div.spinner::after {
	left: -2px;
	top: -2px;
	display: none;
	position: absolute;
	content: '';
	width: inherit;
	height: inherit;
	border: inherit;
	border-radius: inherit;
}


@keyframes spin {
	from { transform: rotate(0deg); }
	to {   transform: rotate(360deg); }
}


div.spinner-2 {
	border-top-color: transparent;
}

div.spinner-2::after {
	display: block;
	left: -2px;
	top: -2px;
	border: inherit;
	transform: rotate(65deg);
}


/*
	<style>
		position: absolute;
		display: block;
		left: 20%;
		width: 75vh;
		height: 75vh;
		background-color: #000000;
		margin: 20px;
		border: 5px solid orange;
		border-radius: 50%;
		opacity: 1;
	</style>
*/

