/*

button {
    white-space: inherit;
    text-indent: 0;
    display: inline-block;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
    color: inherit;
    font: 12px arial !important ;
    line-height: normal;
    white-space: pre;
    text-align: center;
    text-shadow: none;
    overflow-clip-box: padding-box;
}

button, input[type="color"]:-moz-system-metric(color-picker-available), input[type="reset"], input[type="button"], input[type="submit"] {
    -moz-appearance: button;
    padding-block-start: 0px;
    padding-inline-end: 2px;
    padding-block-end: 0px;
    padding-inline-start: 2px;
    border: 2px;
    background-color: inherit;
    cursor: default;
    box-sizing: border-box;
    -moz-user-select: none;
    -moz-binding: none;
}

*/
